.next
node_modules
.env*
!.env.example
/build
/.firebase
*.log
# *.json
!package-lock.json
!package.json
!tsconfig.json
!firebase.json
!components.json
!firebase.indexes.json
firebase-svc-account-key.json
